@model MvcMusicStore.Models.Album

@{
    ViewBag.Title = "Album - " + Model.Titulo;
}

<h2>@Model.Titulo</h2>

<p>
    <img alt="@Model.Titulo" src="@Url.Content(@Model.AlbumArtUrl)" />
</p>

<div id="album-details">
    <p>
        <em>Genre:</em>
        @Model.Genero.Nome
    </p>
    <p>
        <em>Artista:</em>
        @Model.Artista.Nome
    </p>
    <p>
        <em>Preço:</em>
        @Html.DisplayFor(model => model.Preco)
    </p>
    <p class="button">
        @Html.ActionLink("Adicione ao carrinho", "Adicionar", "CarrinhoCompras", new { id = Model.Id }, new { @class = "btn btn-primary" })
    </p>
</div>